/*----font-styles----*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

.banner-container {
    width: 1550px;
    height: 650px;
    margin: 0 auto;
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    justify-content: space-around;
}

.banner-msg {
    width: 450px;
    height: 400px;
    text-align: left;
    margin-top: 200px;
    margin-left: 100px;
}

.banner-msg h1 {
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    color: rgb(39, 39, 39);
}

.banner-msg p {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 25px;
    color: rgba(39, 39, 39, 0.6);
}

.banner-msg button {
    width: 120px;
    height: 50px;
    margin-top: 30px;
    padding: 5px;
    border: none;
    border-radius: 2px;
    background: rgb(229, 84, 115);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.banner-image {
    margin-top: 70px;
    margin-right: 100px;
}
.banner-container img{
    width: 450px;
    height: 578px;
}
.featured-img-txt-container{
    width: 60%;
    height: 630px;
    margin: 0 auto;
    margin-top: 120px;
}
.featured-txt{
    width: 47%;
    height: 25%;
    margin: 0 auto;
    text-align: center;
}
.featured-txt h3{
    font-size: 30px;
    font-weight: 800px;
    line-height: 40px;
}
.featured-txt p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(39, 39, 39, 0.6);
}
.featured-images{
    display: flex;
    margin-top: 37px;
    gap: 20px;
}
.first-image{
    margin-top: 70px;
    width: 70%;
    height: 100%;
}
.second-image{
    margin-top: 70px;
    width: 80%;
    height: 100%;
}
.third-image{
    margin-top: 70px;
    width: 70%;
    height: 100%;
}
.image1{
    background-color: rgba(167, 33, 98, 0.15);
}
.image2{
    background-color: rgba(5, 151, 160, 0.15);
}
.image3{
    background-color: rgba(71, 125, 17, 0.15);
}
.image1, .image2, .image3{
    width: 33%;
    max-height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50% 50% 0 0;
}
.featured-flower-tittle{
    width: 100%;
    /* height: 50%; */
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 400px;
    line-height: 25px;
    margin-top: 8px;
    text-decoration: underline;
}